@{
    ViewData["Title"] = "خانه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--home section bg area start-->
<div class="home_section_bg home_s_bg3">


    <!--slider area start-->
    <section class="slider_section s_section_three mb-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="slider_area slider_carousel owl-carousel">
                        <div class="single_slider d-flex align-items-center"
                             data-bgimg="SiteContent/img/Uspett/Type/Slider_Type.png">
                            <div class="slider_content slider_c_three">
                                <h1> <span>تایپ</span></h1>
                                <p>پیشنهاد انحصاری -30% تخفیف این هفته</p>
                                <a class="button" href="shop.html">
                                    سفارش خود را ثبت کنید <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="single_slider d-flex align-items-center"
                             data-bgimg="SiteContent/img/Uspett/Translate/Slider_Translate.png">
                            <div class="slider_content slider_c_three">
                                <h1> <span>ترجمه</span></h1>
                                <p>پیشنهاد انحصاری -30% تخفیف این هفته</p>
                                <a class="button" href="shop.html">
                                    سفارش خود را ثبت کنید <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="single_slider d-flex align-items-center"
                             data-bgimg="SiteContent/img/Uspett/Graphic/Slider_Graphic2.jpeg">
                            <div class="slider_content slider_c_three">
                                <h1> <span>طراحی و گرافیک </span></h1>
                                <p>پیشنهاد انحصاری -30% تخفیف این هفته</p>
                                <a class="button" href="shop.html">
                                    سفارش خود را ثبت کنید <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        <div class="single_slider d-flex align-items-center"
                             data-bgimg="SiteContent/img/Uspett/Software/Slider_Software.jpg">
                            <div class="slider_content slider_c_three">
                                <h1> <span> سایت و اپلیکیشن</span> </h1>
                                <p>پیشنهاد انحصاری -20% تخفیف این هفته</p>
                                <a class="button" href="shop.html">
                                    سفارش خود را ثبت کنید <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="sidebar_banner_area">
                        <figure class="single_banner mb-30">
                            @*<div class="banner_thumb">*@

                            <div class="banner_thumb align-items-center"
                                 data-bgimg="/SiteContent/img/bg/banner331.png" style="height:180px !important;">
                                <div class="slider_content slider_c_three slider_c_three2  mt-2">
                                    <h2 class="bannertext"> میخوای کارت با کیفیت و سریع انجام بشه? </h2>
                                    <a class="button " href="shop.html">بسپرش به ما </a>

                                </div>
                            </div>


                            @*<a href="shop.html"><img src="~/SiteContent/img/bg/banner30.jpg" alt=""></a>*@
                            @*</div>*@
                        </figure>
                        <figure class="single_banner mb-30">
                            @*<div class="banner_thumb">*@

                            <div class="banner_thumb align-items-center"
                                 data-bgimg="/SiteContent/img/bg/banner321.png" style="height:180px !important;">
                                <div class="slider_content slider_c_three slider_c_three2  mt-2">
                                    <h2 class="bannertext"> میخوای پول در بیاری؟</h2>
                                    <a class="button " href="shop.html">عضو شو </a>
                                    <h2 class="bannertext mt-2">و سفارش بگیر </h2>
                                </div>
                            </div>


                            @*<a href="shop.html"><img src="~/SiteContent/img/bg/banner30.jpg" alt=""></a>*@
                            @*</div>*@
                        </figure>




                        @* <figure class="single_banner">
                            <div class="banner_thumb">
                            <a href="shop.html"><img src="~/SiteContent/img/bg/banner32.png" alt=""></a>

                            </div>
                            </figure>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--slider area end-->
    <!--banner area start-->
    <div class="banner_area banner_style3 mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure class="single_banner">
                        <div class="banner_thumb b_fullwidth_thumb text-center mt-5 p-3">
                            <h3>
                                پروژه گرافیکی دارید؟
                                <a class="buttonself " href="shop.html">
                                    از اینجا سفارش خود را ثبت کنید
                                </a>
                            </h3>
                            <a href="shop.html"><img src="~/SiteContent/img/Uspett/Banner02.jpg" alt=""></a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->
    <!--Categories area start-->
    <div class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title title_style2">
                        <div class="title_content">
                            <h2><span>آنچه میتوانید از</span> USPETT</h2>
                            <p>بخواهید</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog_container blog_column4 owl-carousel">
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="blog-details.html"><img class="imageBlogCl" src="~/SiteContent/img/Uspett/Type/TYpe1.jpg" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4><a href="blog-details.html">تایپ </a></h4>
                                    <div class="post_meta">
                                        <p><a href="#">تایپ و ترجمه</a> </p>
                                    </div>
                                    <div class="post_desc">
                                        <p>انجام انواع تایپ از روی فایل صوتی، ویدیو، دست نوشته، متون قدیمی و ...</p>
                                    </div>
                                    <footer class="post_readmore">
                                        <a href="blog-details.html">مشاهده</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="blog-details.html"><img class="imageBlogCl" src="~/SiteContent/img/Uspett/Translate/Icon1.jpg" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4><a href="blog-details.html">ترجمه</a></h4>
                                    <div class="post_meta">
                                        <p><a href="#">تایپ و ترجمه</a> </p>
                                    </div>
                                    <div class="post_desc">
                                        <p> ترجمه متون، فایل صوتی، ویدئو، متون قدیمی در انواع زبانها</p>
                                    </div>
                                    <footer class="post_readmore">
                                        <a href="blog-details.html">مشاهده</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="blog-details.html"><img class="imageBlogCl" src="~/SiteContent/img/Uspett/Graphic/Graphic1.jpg" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4><a href="blog-details.html">طراحی و گرافیک</a></h4>
                                    <div class="post_meta">
                                        <p><a href="#">طراحی آرم و لوگو</a> </p>
                                    </div>
                                    <div class="post_desc">
                                        <p> طراحی آرم، لوگو، سربرگ، پاکت، بسته بندی، سررسید و  ...</p>
                                    </div>
                                    <footer class="post_readmore">
                                        <a href="blog-details.html">مشاهده</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="blog-details.html"><img class="imageBlogCl" src="~/SiteContent/img/Uspett/Software/origin.jpg" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4><a href="blog-details.html"> وبسایت و اپلیکیشن </a></h4>
                                    <div class="post_meta">
                                        <p><a href="#">برنامه نویسی</a> </p>
                                    </div>
                                    <div class="post_desc">
                                        <p> تولید انواع وبسایت، فروشگاه اینترنتی، اپلیکیشن، نرم افزار سیستمی</p>
                                    </div>
                                    <footer class="post_readmore">
                                        <a href="blog-details.html">مشاهده</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    <div class="col-lg-3">
                        <article class="single_blog">
                            <figure>
                                <div class="blog_thumb">
                                    <a href="blog-details.html"><img class="imageBlogCl" src="~/SiteContent/img/Uspett/Software/SEO22.jpg" alt=""></a>
                                </div>
                                <figcaption class="blog_content">
                                    <h4><a href="blog-details.html"> تولید محتوا و سئو</a></h4>
                                    <div class="post_meta">
                                        <p><a href="#">تولید محتوا، پشتیبانی و سئو</a> </p>
                                    </div>
                                    <div class="post_desc">
                                        <p>تولید محتوا و پشتیبانی انواع نرم افزارهای شرکتی و اداری، سئو سایت</p>
                                    </div>
                                    <footer class="post_readmore">
                                        <a href="blog-details.html">مشاهده</a>
                                    </footer>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Categories area end-->
    <!--banner area start-->
    <div class="banner_area banner_style3 mt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <figure class="single_banner ">
                        <div class="banner_thumb align-items-center"
                             data-bgimg="/SiteContent/img/bg/banner41.jpg" style="height:180px !important;" >
                            <div class="slider_content slider_c_three slider_c_three2  mt-2">
                                <h2 class="bannertext"> فروشگاه اینترنتی خودتو داشته باش</h2>
                                <a class="button mr-80" href="shop.html">کلیک کن </a>                                
                            </div>
                        </div>

                    </figure>
                </div>
                <div class="col-lg-6 col-md-6 ">
                    <figure class="single_banner ">
                        <div class="banner_thumb align-items-center"
                             data-bgimg="/SiteContent/img/bg/banner441.jpg" style="height:180px !important;" >
                            <div class="slider_content slider_c_three slider_c_three2  mt-2">
                                <h2 class="bannertext"> تولید محتوا و سئو سایتتو بسپر به ما  </h2>                                
                                <a class="button mr-80" href="shop.html">کلیک کن </a>                                
                            </div>
                        </div>

                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->

     


</div>
<!--home section bg area end-->
