 <div class="offcanvas_menu offcanvas_three">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                        </div>
                        <div class="call_support">
                            <p><i class="icon-phone-call" aria-hidden="true"></i> <span>تماس با ما : <a
                                        href="tel:02198765432">02198765432</a></span></p>

                        </div>
                        <div class="header_account">
                            <ul>
                                <li class="language"><a href="#"><img src="assets/img/logo/language.png" alt=""> فارسی
                                        <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_language">
                                        <li><a href="#">فارسی</a></li>
                                        <li><a href="#">انگلیسی</a></li>
                                        <li><a href="#">عربی</a></li>
                                    </ul>
                                </li>
                                <li class="currency"><a href="#">تومان <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">دینار</a></li>
                                        <li><a href="#">تومان</a></li>
                                        <li><a href="#">دلار</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header_top_links">
                            <ul>
                                <li><a href="login.html">ثبت نام</a></li>
                                <li><a href="login.html">ورود</a></li>
                                <li><a href="cart.html">سبد خرید</a></li>
                                <li><a href="checkout.html">بررسی</a></li>
                            </ul>
                        </div>
                        <div class="search_container">
                            <form action="#">
                                <div class="hover_category">
                                    <select class="select_option" name="select" id="categori1">
                                        <option selected value="1">همه دسته بندی ها</option>
                                        <option value="2">لوازم جانبی</option>
                                        <option value="3">لوازم جانبی و موارد دیگر</option>
                                        <option value="4">کره و تخم مرغ</option>
                                        <option value="5">دوربین و ویدئو</option>
                                        <option value="6">صفحه نمایش</option>
                                        <option value="7">تبلت</option>
                                        <option value="8">لبتاب</option>
                                        <option value="9">کیف های دستی</option>
                                        <option value="10">هدفون و بلندگو</option>
                                        <option value="11">گیاهان و گیاهان دارویی</option>
                                        <option value="12">سبزیجات</option>
                                        <option value="13">خرید</option>
                                        <option value="14">لبتاب و دسکتاپ</option>
                                        <option value="15">ساعت</option>
                                        <option value="16">الکترونیک</option>
                                    </select>
                                </div>
                                <div class="search_box">
                                    <input placeholder="جستجوی محصول ..." type="text">
                                    <button type="submit">محصول</button>
                                </div>
                            </form>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="#">خانه</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">خانه 1</a></li>
                                        <li><a href="index-2.html">خانه 2</a></li>
                                        <li><a href="index-3.html">خانه 3</a></li>
                                        <li><a href="index-4.html">خانه 4</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">خرید</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">طرح‌بندی فروشگاه</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">خرید</a></li>
                                                <li><a href="shop-fullwidth.html">عرض کامل</a></li>
                                                <li><a href="shop-fullwidth-list.html">لیست با عرض کامل</a></li>
                                                <li><a href="shop-right-sidebar.html">سایدبار سمت چپ </a></li>
                                                <li><a href="shop-right-sidebar-list.html"> لیست با سایدبار سمت چپ</a>
                                                </li>
                                                <li><a href="shop-list.html">نمای فهرست</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">صفحات دیگر</a>
                                            <ul class="sub-menu">
                                                <li><a href="cart.html">سبد خرید</a></li>
                                                <li><a href="wishlist.html">لیست علاقمندی ها</a></li>
                                                <li><a href="checkout.html">بررسی</a></li>
                                                <li><a href="my-account.html">حساب من</a></li>
                                                <li><a href="404.html"> خطای 404</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">انواع محصول</a>
                                            <ul class="sub-menu">
                                                <li><a href="product-details.html">جزئیات محصول</a></li>
                                                <li><a href="product-sidebar.html">معرفی محصول با سایدبار</a></li>
                                                <li><a href="product-grouped.html">معرفی محصول با گروه بندی</a></li>
                                                <li><a href="variable-product.html">معرفی محصول با متغیر</a></li>
                                                <li><a href="product-countdown.html">معرفی محصول با شمارنده</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">وبلاگ</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">وبلاگ</a></li>
                                        <li><a href="blog-details.html">جزئیات وبلاگ</a></li>
                                        <li><a href="blog-fullwidth.html">وبلاگ با عرض کامل</a></li>
                                        <li><a href="blog-sidebar.html">وبلاگ با نوار کناری</a></li>
                                        <li><a href="blog-no-sidebar.html">وبلاگ بدون نوار کناری</a></li>
                                    </ul>

                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">صفحات </a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">درباره ما</a></li>
                                        <li><a href="faq.html">سوالات متداول</a></li>
                                        <li><a href="contact.html">تماس</a></li>
                                        <li><a href="login.html">ورود</a></li>
                                        <li><a href="404.html"> خطای 404</a></li>
                                        <li><a href="compare.html">مقایسه</a></li>
                                        <li><a href="privacy-policy.html">حریم خصوصی</a></li>
                                        <li><a href="coming-soon.html">به زودی</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="my-account.html">حساب من</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="about.html">درباره ما</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="contact.html"> تماس با ما</a>
                                </li>
                            </ul>
                        </div>
                        <div class="offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                            <ul>
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>