    <!--header area start-->
<!--offcanvas menu area start-->
<div cblackass="off_canvars_overlay">
</div>
<div class="offcanvas_menu offcanvas_three">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="offcanvas_menu_wrapper">
                    <div class="canvas_close">



                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>

                    </div>
                    @* <div class="call_support text-center">
                        <p>
                        <i class="icon-phone-call" aria-hidden="true"></i> <span>
                        تماس با ما : <a href="tel:01133304030">01133304030</a>
                        </span>
                        </p>

                        </div>*@


                    <div class="header_account">
                        <ul>
                            <li class="language">
                                <a href="#">
                                    فارسی
                                    <i class="ion-chevron-down"></i>
                                </a>
                                <ul class="dropdown_language">
                                    <li><a href="#">فارسی</a></li>
                                    <li><a href="#">انگلیسی</a></li>
                                </ul>
                            </li>
                            <li class="currency">
                                <a href="#">تومان <i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_currency">
                                    <li><a href="#">تومان</a></li>
                                    <li><a href="#">دلار</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header_top_links">
                        <ul>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li><a asp-action="Login" asp-area="" asp-controller="Account">ورود</a></li>
                                <li><a asp-action="Register" asp-area="" asp-controller="Account">ثبت نام</a></li>
                            }
                            else
                            {
                                <li><a asp-action="Index" asp-area="Admin" asp-controller="Home">@User.Identity.Name</a></li>
                                <li><a asp-action="Logout" asp-area="" asp-controller="Account">خروج</a></li>
                                <li><a asp-action="Index" asp-area="UserPanel" asp-controller="Home">ورورد به پنل کاربری</a></li>
                                <li><a href="#">@User.Identity.Name خوش آمدید</a></li>
                            }

                            <li><a href="cart.html"> ایجاد پروژه  </a></li>
                            <li><a href="checkout.html">فریلنسر شو</a></li>
                        </ul>
                    </div>
                    <div class="search_container">
                        <form action="#">
                            <div class="hover_category">
                                <select class="select_option" name="select" id="categori1">
                                    <option selected value="1">همه دسته بندی ها</option>
                                    <option value="2">تایپ</option>
                                    <option value="3">ترجمه</option>
                                    <option value="4">تایپ و ترجمه</option>
                                    <option value="5">طراحی لوگو</option>
                                    <option value="6">پاورپوینت</option>
                                    <option value="7">مقاله</option>
                                    <option value="8">پایان نامه</option>
                                    <option value="9">پروپوزال</option>
                                    <option value="10">برنامه نویسی</option>
                                    <option value="11">طراحی سایت</option>
                                    <option value="12">طراحی اپلیکیشن</option>
                                    <option value="13">پروژه نرم افزاری</option>
                                </select>
                            </div>
                            <div class="search_box">
                                <input placeholder="جستجوی پروژه ..." type="text">
                                <button type="submit">جستجو</button>
                            </div>
                        </form>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="active">
                                <a href="/Home">خانه</a>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">خدمات</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">تایپ و ترجمه</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop-fullwidth.html">تایپ</a></li>
                                            <li>
                                                <a href="shop-fullwidth-list.html">ترجمه</a>
                                            </li>
                                            <li>
                                                <a href="shop-right-sidebar.html">تبدیل  pdf به word </a>
                                            </li>
                                            <li>
                                                <a href="shop-right-sidebar-list.html">
                                                    تایپ از روی دست نوشته
                                                </a>
                                            </li>
                                            <li><a href="shop-list.html">تایپ متون قدیمی(تجدید تایپ)</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">طراحی</a>
                                        <ul class="sub-menu">
                                            <li><a href="cart.html">طراحی لوگو</a></li>
                                            <li><a href="wishlist.html">طراحی آرم</a></li>
                                            <li><a href="checkout.html">گرافیک</a></li>
                                            <li><a href="my-account.html">موشن گرافی</a></li>
                                            <li><a href="404.html"> طراحی اختصاصی</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">سایت و اپلیکیشن</a>
                                        <ul class="sub-menu">
                                            <li><a href="product-details.html">طراحی سایت</a></li>
                                            <li>
                                                <a href="product-sidebar.html">
                                                    طراحی اپلیکیشن
                                                </a>
                                            </li>
                                            <li>
                                                <a href="product-grouped.html">
                                                    طراحی فروشگاه اینترنتی

                                                </a>
                                            </li>
                                            <li>
                                                <a href="variable-product.html">برنامه نویسی نرم افزارهای اختصاصی</a>
                                            </li>
                                            <li>
                                                <a href="product-countdown.html">
                                                    دیجیتال مارکتینگ
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">آموزش</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-details.html">دستیار شو</a></li>
                                    <li><a href="blog-fullwidth.html">برنامه نویس شو</a></li>
                                    <li><a href="blog-sidebar.html">تایپیست حرفه ای شو</a></li>
                                    <li><a href="blog-no-sidebar.html">گرافیست شو</a></li>
                                </ul>

                            </li>                        
                            <li class="menu-item-has-children">
                                <a href="/Home/About">درباره ما</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="/Home/Contact"> تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                    <div class="offcanvas_footer">
                        <img src="~/SiteContent/img/brand/uspett1.png" class="Slogan" alt="">
                        <hr />
                        <span><a href="#"><i class="fa fa-envelope-o"></i> info@DoctorType.ir</a></span>
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--offcanvas menu area end-->

<header>
    <div class="main_header header_three color_three">
        <!--header top start-->
        <div class="header_top h_top_three">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4">
                        <div class="header_account">
                            <ul>
                                <li class="language">
                                    <a href="#">

                                        فارسی <i class="ion-chevron-down"></i>
                                    </a>
                                    <ul class="dropdown_language">
                                        <li><a href="#">فارسی</a></li>
                                        <li><a href="#">انگلیسی</a></li>
                                    </ul>
                                </li>
                                <li class="currency">
                                    <a href="#">تومان <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_currency">
                                        <li><a href="#">تومان</a></li>
                                        <li><a href="#">دلار</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center">
                        <img src="~/SiteContent/img/brand/uspett1.png" class="SloganBig" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="header_top_links text-right">
                            <ul>
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a asp-action="Login" asp-area="" asp-controller="Account">ورود</a></li>
                                    <li><a asp-action="Register" asp-area="" asp-controller="Account">ثبت نام</a></li>
                                }
                                else
                                {
                                    <li><a asp-action="Index" asp-area="Admin" asp-controller="Home">@User.Identity.Name</a></li>
                                    <li><a asp-action="Logout" asp-area="" asp-controller="Account">خروج</a></li>
                                }
                                <li><a href="cart.html"><i class="fa fa-plus"></i> ایجاد پروژه  </a></li>
                                <li><a href="checkout.html">فریلنسر شو</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->
        <!--header middel start-->
        <div class="header_middle h_middle_three">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                        <div class="logo">
                            <a href="/Home"><img src="~/SiteContent/img/logo/LogoAsli1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-8 col-sm-8 col-8">
                        <div class="header_right_box">
                            <div class="search_container">
                                <form action="#">
                                    <div class="hover_category">
                                        <select class="select_option" name="select" id="categori2">
                                            <option selected value="1">همه دسته بندی ها</option>
                                            <option value="2">تایپ</option>
                                            <option value="3">ترجمه</option>
                                            <option value="4">تایپ و ترجمه</option>
                                            <option value="5">طراحی لوگو</option>
                                            <option value="6">پاورپوینت</option>
                                            <option value="7">مقاله</option>
                                            <option value="8">پایان نامه</option>
                                            <option value="9">پروپوزال</option>
                                            <option value="10">برنامه نویسی</option>
                                            <option value="11">طراحی سایت</option>
                                            <option value="12">طراحی اپلیکیشن</option>
                                            <option value="13">پروژه نرم افزاری</option>
                                        </select>
                                    </div>
                                    <div class="search_box">
                                        <input placeholder="جستجوی پروژه ..." type="text">
                                        <button type="submit">جستجو</button>
                                    </div>
                                </form>
                            </div>
                            <div class="header_configure_area">
                                <div class="header_wishlist">
                                    <a href="">
                                        <i class="icon-heart"></i>
                                        <span class="wishlist_count">0</span>
                                    </a>
                                </div>
                                <div class="mini_cart_wrapper">
                                    <a href="javascript:void(0)">
                                        <i class="icon-shopping-bag2"></i>

                                        <span class="cart_price">
                                            سبد خرید خالی است
                                            <i class="ion-ios-arrow-left"></i>
                                        </span>
                                        <span class="cart_count">0</span>
                                    </a>
                                    <!--mini cart-->
                                    <div class="mini_cart">
                                        <div class="mini_cart_inner">
                                            <div class="cart_close">
                                                <div class="cart_text">
                                                    <h3>سبد خرید</h3>
                                                </div>
                                                <div class="mini_cart_close">
                                                    <a href="javascript:void(0)"><i class="ion-ios-arrow-left"></i></a>
                                                </div>
                                            </div>
                                            @* <div class="cart_item">
                                                <div class="cart_img">
                                                <a href="#">
                                                <img src="assets/img/s-product/product.jpg"
                                                alt="">
                                                </a>
                                                </div>
                                                <div class="cart_info">
                                                <a href="#">عنوان محصول</a>
                                                <p> تعداد: 1 عدد <span> 60.00 تومان </span></p>
                                                </div>
                                                <div class="cart_remove">
                                                <a href="#"><i class="ion-android-close"></i></a>
                                                </div>
                                                </div>*@
                                            @*<div class="cart_item">
                                                <div class="cart_img">
                                                <a href="#">
                                                <img src="assets/img/s-product/product2.jpg"
                                                alt="">
                                                </a>
                                                </div>
                                                <div class="cart_info">
                                                <a href="#">عنوان محصول</a>
                                                <p> تعداد: 1 عدد <span> 60.00 تومان </span></p>
                                                </div>
                                                <div class="cart_remove">
                                                <a href="#"><i class="ion-android-close"></i></a>
                                                </div>
                                                </div>*@
                                            @* <div class="mini_cart_table">
                                                <div class="cart_total">
                                                <span>مجموع فرعی:</span>
                                                <span class="price">138.00 تومان</span>
                                                </div>
                                                <div class="cart_total mt-10">
                                                <span>جمع کل:</span>
                                                <span class="price">138.00 تومان</span>
                                                </div>
                                                </div>*@
                                        </div>
                                        <div class="mini_cart_footer">
                                            <div class="cart_button">
                                                <a href="">مشاهده سبد خرید</a>
                                            </div>
                                            <div class="cart_button">
                                                <a class="active" href="">سبد خرید شما خالی است</a>
                                            </div>

                                        </div>
                                    </div>
                                    <!--mini cart end-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->
        <!--header bottom satrt-->
        <div class="header_bottom h_bottom_three sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="main_menu menu_three menu_position text-left">
                            <nav>
                                <ul>
                                    <li>
                                        <a class="active" href="/Home">خانه</a>
                                    </li>
                                    <li class="mega_items">
                                        <a href="shop.html">خدمات<i class="fa fa-angle-down"></i></a>
                                        <div class="mega_menu">
                                            <ul class="mega_menu_inner">
                                                <li>
                                                    <a href="#">تایپ و ترجمه</a>
                                                    <ul>
                                                        <li><a href="shop-fullwidth.html">تایپ</a></li>
                                                        <li>
                                                            <a href="shop-fullwidth-list.html">ترجمه</a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-right-sidebar.html">تبدیل  pdf به word </a>
                                                        </li>
                                                        <li>
                                                            <a href="shop-right-sidebar-list.html">
                                                                تایپ از روی دست نوشته
                                                            </a>
                                                        </li>
                                                        <li><a href="shop-list.html">تایپ متون قدیمی(تجدید تایپ)</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">طراحی</a>
                                                    <ul>
                                                        <li><a href="cart.html">طراحی لوگو</a></li>
                                                        <li><a href="wishlist.html">طراحی آرم</a></li>
                                                        <li><a href="checkout.html">گرافیک</a></li>
                                                        <li><a href="my-account.html">موشن گرافی</a></li>
                                                        <li><a href="404.html"> طراحی اختصاصی</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">سایت و اپلیکیشن</a>
                                                    <ul>
                                                        <li><a href="product-details.html">طراحی سایت</a></li>
                                                        <li>
                                                            <a href="product-sidebar.html">
                                                                طراحی اپلیکیشن
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="product-grouped.html">
                                                                طراحی فروشگاه اینترنتی

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="variable-product.html">برنامه نویسی نرم افزارهای اختصاصی</a>
                                                        </li>
                                                        <li>
                                                            <a href="product-countdown.html">
                                                                دیجیتال مارکتینگ
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog.html">آموزش<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub_menu pages">
                                            <li><a href="blog-details.html">دستیار شو</a></li>
                                            <li><a href="blog-fullwidth.html">برنامه نویس شو</a></li>
                                            <li><a href="blog-sidebar.html">تایپیست حرفه ای شو</a></li>
                                            <li><a href="blog-no-sidebar.html">گرافیست شو</a></li>
                                        </ul>
                                    </li>


                                    <li><a href="/Home/About">درباره ما</a></li>
                                    <li><a href="/Home/Contact"> تماس با ما</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header bottom end-->
    </div>
</header>

<!--header area end-->
