@model int


        <div class="col-xl-6 col-lg-6 col-sm-6">
    <div class="widget-stat card bg-success" style="background-image: linear-gradient(to left, rgba(177, 3, 3, 0.85) 0%, rgba(245, 10, 186, 0.82) 100%);">
                <div class="card-body  p-4">
                    <div class="media">
                        <span class="mr-3">
                    <i class="fa fa-shopping-bag"></i>
                        </span>
                        <div class="media-body text-white">
                            <p class="mb-1">تعداد پروژه های در انتظار مجری : </p>
                            <h3 class="text-white">@Model</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>


