@model int


        <div class="col-xl-12 col-lg-12 col-sm-12">
    <div class="widget-stat card bg-success" style="background-image: linear-gradient(to left, rgba(209, 16, 16, 0.85) 0%, rgba(103, 25, 255, 0.85) 100%);;">
                <div class="card-body  p-4">
                    <div class="media">
                        <span class="mr-3">
                            <i class="fa fa-shopping-bag"></i>
                        </span>
                        <div class="media-body text-white">
                            <p class="mb-1">تعداد پروژه هایی که شما مجری آن هستید :  </p>
                            <h3 class="text-white">0</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>

