@using DoctorType.Domain.Entities.Account
@model DoctorType.Domain.Entities.Tariff.Tariff

@{
    ViewData["Title"] = "ویرایش تعرفه ها";
}

@section scripts{
    <partial name="_JqueryValidators" />
}

    @section Breadcrumbs{
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>@ViewData["Title"]</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-area="Admin" asp-controller="Home"> داشبورد ادمین </a></li>
            <li class="breadcrumb-item"><a asp-action="FilterTariff" asp-area="Admin" asp-controller="Tariff"> میدیریت تعرفه ها </a></li>
            <li class="breadcrumb-item active"><a asp-action="EditTariff" asp-area="Admin" asp-controller="Tariff">@ViewData["Title"]</a></li>
        </ol>
    </div>
}

    <form asp-area="Admin" asp-controller="Tariff" asp-action="EditTariff" method="post">
        <input asp-for="Id" type="hidden" />
        <div class="row">

            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> اطلاعات تعرفه ها </h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label> عنوان تعرفه </label>
                                    <input asp-for="TariffName" type="text" class="form-control" placeholder=" عنوان تعرفه را وارد کنید ">
                                    <span asp-validation-for="TariffName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label> مبلغ تعرفه </label>
                                    <input asp-for="TariffPrice" type="text" NumericInput="1" class="form-control" placeholder=" مبلغ تعرفه را وارد کنید ">
                                    <span asp-validation-for="TariffPrice" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label> تعداد آگهی های قابل پذیرفتن </label>
                                    <input asp-for="CountOfAcceptRequest" type="text" class="form-control" placeholder=" تعداد آگهی های قابل پذیرفتن را وارد کنید ">
                                    <span asp-validation-for="CountOfAcceptRequest" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label> مدت زمان تعرفه (برحسب روز) </label>
                                    <input asp-for="tariffDuration" type="number" class="form-control" placeholder=" مدت زمان تعرفه را وارد کنید ">
                                    <span asp-validation-for="tariffDuration" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>رنگ نمایش کادر تعرفه </label>
                                    <div class="dropdown bootstrap-select form-control">
                                        <select asp-for="ColorName" class="form-control" id="sel1" tabindex="-98">
                                        @if (Model.ColorName == "primary")
                                        {
                                            <option selected="selected" value="primary">primary</option>
                                            <option value="secondary">secondary</option>
                                            <option value="success">success</option>
                                            <option value="warning">warning</option>
                                            <option value="info">info</option>
                                        }
                                        @if (Model.ColorName == "secondary")
                                        {
                                            <option value="primary">primary</option>
                                            <option selected="selected" value="secondary">secondary</option>
                                            <option value="success">success</option>
                                            <option value="warning">warning</option>
                                            <option value="info">info</option>
                                        }
                                        @if (Model.ColorName == "success")
                                        {
                                            <option value="primary">primary</option>
                                            <option value="secondary">secondary</option>
                                            <option selected="selected" value="success">success</option>
                                            <option value="warning">warning</option>
                                            <option value="info">info</option>
                                        }
                                        @if (Model.ColorName == "warning")
                                        {
                                            <option value="primary">primary</option>
                                            <option value="secondary">secondary</option>
                                            <option value="success">success</option>
                                            <option selected="selected" value="warning">warning</option>
                                            <option value="info">info</option>
                                        }
                                        @if (Model.ColorName == "info")
                                        {
                                            <option value="primary">primary</option>
                                            <option value="secondary">secondary</option>
                                            <option value="success">success</option>
                                            <option value="warning">warning</option>
                                            <option selected="selected" value="info">info</option>
                                        }
                                        @if (string.IsNullOrEmpty(Model.ColorName))
                                        {
                                            <option value="primary">primary</option>
                                            <option value="secondary">secondary</option>
                                            <option value="success">success</option>
                                            <option value="warning">warning</option>
                                            <option value="info">info</option>
                                        }

                                    </select>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-success">@ViewData["Title"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>