
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DoctorType - خدمات تخصصی تایپ و ترجمه </title>
    <meta name="author" content="DoctorType, Reza Maghsoudloo" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">